
/*Nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #9ECC8B;
  border-bottom: 4px #91B283 solid;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
ul li {
  float: right;
  margin-right: 20px;
  margin-top: .8%;
}
ul h4 {
  float: left;
  margin-left: 40px;
  color: white;
  font-size: 30px;
  margin-top: .5%;
}
li a {
  display: inline;
  color: white;
  text-align: center;
  font-family: "Verdana";
  font-size: 20px;
  padding: 14px 16px;
}
li a:hover {
  color: grey;
  text-decoration: none;
}

/*header css */
.header {
  background: #9ECC8B;
  width: 100%;
  height: 600px;
}
.header table {
  margin: 0 auto;
  text-align: center;
}
.header td {
  vertical-align: bottom;
}
.header h1 {
  color: white;
  padding-top: 250px;
  font-size: 50px;
}

.myImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/*main page*/
.projects {
  width: 100%;
  text-align: center;
  background: white;
}
.projects p {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  font-family: "Verdana";
  font-size: 20px;
}
.projects h3 {
  padding-top: 40px;
}

.imageTable {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  border-collapse: seperate;
  boder-spacing: 10px;
  z-index: 0;
}
.imageRow {
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
}
.imageRow div {
  padding: 0;
  margin: 0 auto;
}
.inner {
  height: 200px;
  width: 90%;
  background-size: cover;
  background-repeat: no-repeat;
}
.inner:hover {
  opacity: 0.75;
}

/*Makes the html clearer if the links are over here*/
.img1 {background-image: url("../imgs/Simon.jpg");}
.img2 {background-image: url("../imgs/calculator.jpg");}
.img3 {background-image: url("../imgs/ticTacToe.jpg");}
.img4 {background-image: url("../imgs/TwitchAPI.jpg");}
.img5 {background-image: url("../imgs/quoteMachine.jpg");}
.img6 {background-image: url("../imgs/weather.jpg");}
.img7 {background-image: url("../imgs/wikipedia.jpg");}
.img8 {background-image: url("../imgs/markdown.jpg");}

/*contact section */
.contact {
  width: 100%;
  height: 250px;
  background: #9ECC8B;
  text-align: center;
}
.contact h3 {
  padding-top: 20px;
}
.icon:hover {
  color: black;
}

.contact h3 {
  margin-bottom: 40px;
}
.symbols {
  margin-left: 40px;
}

.fa-4x:hover{
  color: black;
  transform: scale(1.2);
}
